$white:#FFFFFF;
$black:#000000;
$red:#FF4343;

$dark-blue:rgba(37, 43, 73, 0.8);
$grey:rgba(186, 187, 197, 1);
$grey-middle:#BABBC5;
$red-active:rgba(231, 20, 20, 1);
$red-hover:#FF4343;
$dark-grey:rgba(45, 48, 51, 1);
$grey-bg:rgba(108, 114, 121, 1);
$red-bg:rgba(255, 67, 67, 0.8);
$blue-pf:rgba(53, 60, 101, 1);
$blue-ft:rgba(44, 49, 84, 1);
$indicator:rgba(126, 93, 111, 1);
$slide:rgba(92, 50, 73, 1);

$fs: 18px;
$base-fs:$fs;
$ff:'Raleway';
$base-ff:$ff